In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data=pd.read_csv("data.csv")
df=pd.DataFrame(data)

In [34]:
### Preprocessing

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler = MinMaxScaler()
data[['culture', 'adventure', 'wildlife', 'sightseeing', 'history']] = scaler.fit_transform(
    data[['culture', 'adventure', 'wildlife', 'sightseeing', 'history']]
)

# Inspect data
print(data.head())

   pID            pName  culture  adventure  wildlife  sightseeing  history  \
0    1       Satasidham      1.0        0.0       0.0          1.0      0.6
1    2  Arjundhara Dham      1.0        0.0       0.0          0.6      1.0
2    3      Kichakavadh      0.8        0.0       0.0          1.0      1.0
3    4      Biratpokhar      0.4        0.0       0.0          1.0      1.0
4    5    Krishnathumki      1.0        0.4       0.0          1.0      1.0

                                             tags  province
0  waterfall, pond, garden, cave , hindu , temple         1
1             hindu, temple, pond, gurukul, farm          1
2    hindu, pond, garden, temple, castle remnants         1
3                             hindu, pond, garden         1
4       hindu , pond, garden, temple , boat ride          1

In [38]:
### model generation

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

# Extract features for similarity
features = ['culture', 'adventure', 'wildlife', 'sightseeing', 'history']
feature_matrix = data[features]

# Compute cosine similarity
similarity_matrix = cosine_similarity(feature_matrix)

In [40]:
### recommendor

In [47]:
def recommend_destinations(destination_name, top_n=5):
    # Find the index of the destination
    destination_idx = data[data['pName'] == destination_name].index[0]
    
    # Get similarity scores
    similarity_scores = list(enumerate(similarity_matrix[destination_idx]))
    
    # Sort by similarity score
    sorted_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    
    # Fetch top N recommendations (excluding the queried destination)
    recommended_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    
    # Return recommended destinations
    return data.iloc[recommended_indices][['pID', 'pName']]

# Example usage
print(recommend_destinations("Biratpokhar"))

     pID                          pName
325  326                      Manungkot
315  316                       Bandipur
277  278  International Mountain Museum
320  321                  Chundi Ramgha
391  392                        Ismakot

In [48]:
def recommend_for_user_preferences(user_ratings, top_n=5):
    # Convert user preferences to a DataFrame
    user_vector = pd.DataFrame([user_ratings], columns=features)
    
    # Compute similarity with all destinations
    user_similarity = cosine_similarity(user_vector, feature_matrix)
    
    # Flatten similarity array
    user_similarity = user_similarity.flatten()
    
    # Sort destinations by similarity
    sorted_indices = user_similarity.argsort()[::-1]
    
    # Return top N destinations
    return data.iloc[sorted_indices[:top_n]][['pID', 'pName']]

# Example user preferences
user_preferences = {'culture': 1, 'adventure': 5, 'wildlife': 5, 'sightseeing': 5, 'history': 5}
print(recommend_for_user_preferences(user_preferences))

     pID                             pName
172  173  Shivapuri Nagarjun National Park
123  124             Chitwan national park
70    71                         Panchthar
274  275                        Phewa Lake
311  312                  Annapurna Second